
<div class="attributes_container" *ngIf="attributesCalced">
    <mat-card>
        <mat-card-title>
            Attributes
        </mat-card-title>
        <mat-card-content>
            Strength: {{strength}}
        </mat-card-content>
        <mat-card-content>
            Agility: {{agility}}
        </mat-card-content>
        <mat-card-content>
            Endurance: {{endurance}}
        </mat-card-content>
        <mat-card-content>
            Intelligence: {{intelligence}}
        </mat-card-content>
        <mat-card-content>
            Willpower: {{willpower}}
        </mat-card-content>
        <mat-card-content>
            Personality: {{personality}}
        </mat-card-content>
    </mat-card>
</div>