<h2>Create Character Class</h2>
    <form [formGroup]="classForm" (ngSubmit)="postClass()" class="formContainer">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Level 1 Magicka" formControlName="magicka">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Level 1 Health" formControlName="health">
        </mat-form-field>
        <mat-form-field>
            <h4>Saving Throws</h4>
            <mat-checkbox formControlName="strength">Strength</mat-checkbox>
            <mat-checkbox formControlName="endurance">Endurance</mat-checkbox> 
            <mat-checkbox formControlName="agility">Agility</mat-checkbox> 
            <mat-checkbox formControlName="intelligence">Intelligence</mat-checkbox>
            <mat-checkbox formControlName="willpower">Willpower</mat-checkbox>
            <mat-checkbox formControlName="personality">Personality</mat-checkbox>
        </mat-form-field>
        <mat-form-field>
                <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="20" 
                placeholder="Features" 
                cdkTextAreaAutosize
                formControlName="features"></textarea>
        </mat-form-field>
        <mat-form-field>
        </mat-form-field>
        <button type="submit" [disabled]="!featureForm.valid">Submit</button>
    </form>
